html {
	height: 100%;
}

body {
	height:calc(100% - 2 * 8px);
}

.over {
	padding: 16px;
	position:absolute;
	left: 50%;
 	transform: translate(-50%,0);
	text-align: center;
}

#logo {
	width: 100px;
}

#title > h1 {
	margin: 0;
}

h1 {
	color: #0A3C7D;
	text-align: center;
}

.container {
	height:100%;
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
}

#left {
	grid-column: 1 / 2;
	grid-row: 1;
	background-color: #e4f0ff;
}

#right {
	grid-column: 2 / 2;
	grid-row: 1;
	background-color: #fafafb;
}

.frame {
	display: flex;
	justify-content: center;
    align-items: center;
}

.frame > img {
	border: 5px solid #0A3C7D;
	width:35%;
	height:35%;
    object-fit: cover;
    overflow: hidden;
	min-width: 250px;
	border-radius: 12px;
}

.frame > img:hover {
	cursor: pointer;
}

.total-votes {
	text-align: center;
}

a:visited {
	color: #0A3C7D;
}

#top-cats {
	background-color: #fafafb;
	border: 9px solid #e4f0ff;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: none;
	bottom:8px;
}

#top-cats > p {
	margin-bottom: 0;
}

#top-cats > a {
	color: black;
	text-decoration: none;
	padding: 8px;
	font-size: large;
}

#top-cats > a:hover {
	background-color: #f0f6fe;
	border-radius: 6px;;
}